<a href="https://colab.research.google.com/github/K4RNzOFF/PythonLAB3/blob/main/Lab3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 3

3.1 จากข้อมูลใน List ให้หาผลบวกเฉพาะตัวเลขคู่ โดยใช้ While Loop

list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 13]

In [ ]:
lst = [1,2,3,4,5,6,7,8,9,11,13]
sum = 0
index = 0
while index < len(lst):
  if lst[index] % 2 == 0:
    sum += lst[index]
    index += 1

print("ผลบวกเฉพาะเลขคู่่ : ", sum)

3.2 จากข้อมูลใน List ให้หาตัวเลขที่มีค่ามากที่สุดเป็นอันดับ 2 ใน List โดยใช้ While Loop

list = [-5, 7, 10, 1, 2, 5, 8, 100]

In [ ]:
lst = [-5, 7, 10, 1, 2, 5, 8, 100]

3.3 เขียนโปรแกรมรับค่า n แล้วคำนวณค่าต่อไปนี้

$1/1^2 + 1/2^2 + 1/3^2 + 1/4^2 + 1/5^2 + … +  1/n^2$

In [ ]:
n = int(input("Enter a number: "))
sum = 0
for i in range(1, n + 1):
  sum += 1 / (i ** 2)

print("Result: ", sum)

3.4 จากข้อมูลใน List ให้ตรวจสอบว่า ข้อมูลในลิสต์ s เรียงลำดับจากน้อยไปมากหรือไม่ ตอบเป็น True, False

	[1,2,3,4,5], [5,4,3,2,1]

In [10]:
list1 = [1, 2, 3, 4, 5]
is_sorted = True
for i in range(1, len(list1)):
  if list1[i] < list1[i - 1]:
    is_sorted = False
    break

print(f"List {list1} is sorted: {is_sorted}")

list2 = [5, 4, 3, 2, 1]
is_sorted = True
for i in range(1, len(list2)):
  if list2[i] < list2[i - 1]:
    is_sorted = False
    break

print(f"List {list2} is sorted: {is_sorted}")

List [1, 2, 3, 4, 5] is sorted: True
List [5, 4, 3, 2, 1] is sorted: False

3.5  ให้ x เป็นลิสต์เก็บคะแนน ต้องการปรับช่องที่มีค่าน้อยกว่า 30 ให้มีค่าเพิ่มอีก 10% แสดงผลลัพธ์ เป็น List

	x = [60, 70, 72, 65, 55, 43, 20, 90, 12]

In [ ]:
x = [60, 70, 72, 65, 55, 43, 20, 90, 12]
for i in range(len(x)):
  if x[i] < 30:
    x[i] = x[i] * 1.1
print(x)

3.6 ต้องการหาผลรวมของคะแนนที่เก็บในลิสต์ x โดยขอไม่รวมคะแนนที่น้อยสุดอันดับ 2

	x = [15, 80, 75, 62, 55, 43, 99, 67, 10]

In [ ]:
x = [15, 80, 75, 62, 55, 43, 99, 67, 10]
x.sort()
sum = 0
for i in range(2, len(x)):
  sum += x[i]
print(sum)

481

3.7 จากข้อมูลใน List ให้แสดง string ที่มีความยาวมากกว่า 2 และมีอักษรตัวแรกกับตัวสุดท้ายเหมือนกัน แสดงบรรทัดละ 1 ตัว

	lst = ['abba', 'a', 'aa', 'alcaza', 'python', 'stores', 'program', 'execute']

In [ ]:
lst = ['abba', 'a', 'aa', 'alcaza', 'python', 'stores', 'program', 'execute']
for word in lst:
  if len(word) > 2 and word[0] == word[-1]:
    print(word)

abba
alcaza
stores
execute

3.8 จากข้อมูลใน List ให้ลบข้อมูลที่มีซ้ำกันให้เหลือเพียงตัวเดียว ให้แสดงผลเป็น list เช่น

[‘a’,’a’] => [‘a’]

lst = ['a', 'a', 'b', 'a', 'b', 'c', 'd']

In [ ]:
lst = ['a', 'a', 'b', 'a', 'b', 'c', 'd']
result = []
for item in lst:
  if item not in result:
    result.append(item)
print(result)

['a', 'b', 'c', 'd']

3.9 จากข้อมูลใน List ให้แสดงว่าแต่ละข้อมูลใน List มีจำนวนเท่าไร คือ มีซ้ำกันกี่ตัวใน List  ให้แสดงบรรทัดละตัว เช่น

	[1, 2, 3, 4, 1, 2, 3, 1, 2, 1]
	1 = 4
	2 = 3
	3 = 2
	4 = 1
  
	lst = [1,2,3,4,5,1,2,3,4,1,2,3,1,2,1]

In [ ]:
lst = [1,2,3,4,5,1,2,3,4,1,2,3,1,2,1]
count_dict = {}
for num in lst:
  if num in count_dict:
    count_dict[num] += 1
  else:
    count_dict[num] = 1
for num, count in count_dict.items():
  print(num, "=", count)

1 = 5
2 = 4
3 = 3
4 = 2
5 = 1

1.	เขียนโปรแกรมเพื่อหาผลบวกของอนุกรม 5+10+15+20+… จนถึง n เมื่อ n เป็นตัวเลขที่รับเข้ามาทางคีย์บอร์ด

In [ ]:
n = int(input("input: "))

sum = 0
current = 5

while current <= n:
  sum += current
  current +=5

print("result : ", sum)

input: 30
result :  105

2.	จงเขียนโปรแกรมที่จะหาตัวเลขระหว่าง 2000-3200 ที่หารด้วย 7 ลงตัว แต่หารด้วย 5 ไม่ลงตัว
การแสดงผลให้แสดงตัวเลขและคั่นด้วยเครื่องหมาย , ในบรรทัดเดียว

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

In [ ]:
result = []

for num in range(2000 , 3201):
  if num % 7 == 0 and num % 5 != 0:
    result.append(str(num))

print(",".join(result))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

3.	จากข้อมูลใน List ต้องการนับว่า มีข้อมูลกี่คู่ในลิสต์ที่ตัวทางซ้ายมีค่ามากกว่าตัวทางขวา (ไม่จำเป็นต้องอยู่ติดกัน)

x = [1, 5, 4, 2, 1]

In [ ]:
x = [1, 5, 4, 2, 1]
c = 0

for i in range(len(x)):
  for j in range(i + 1, len(x)):
    if x[i] > x[j]:
      c += 1

print(c)

6

4.	ให้ตรวจสอบว่า String ที่รับเข้ามาผ่านคีย์บอร์ด เป็นตัวอักษรพิมพ์เล็ก หรือตัวอักษรพิมพ์ใหญ่ อย่างละกี่ตัว ตอบ 2 บรรทัด พิมพ์เล็ก 1 บรรทัด พิมพ์ใหญ่ 1 บรรทัด

klfjslkgD;FGK;LSDKdl;gfk;
=> 18,3

In [ ]:
text = input("Enter a string: ")

lower_count = 0
upper_count = 0

for char in text:
  if char.islower():
    lower_count += 1
  elif char.isupper():
    upper_count += 1

print(lower_count)
print(upper_count)

Enter a string: klfjslkgD;FGK;LSDKdl;gfk; => 18,3
13
8

5.	จงเขียนโปรแกรมที่หาตัวเลขระหว่าง 1000 และ 3000 ที่ทุกหลักเป็นเลขคู่ (รวม 1000 และ 3000) โดยแสดงผลในรูปแบบตัวเลขคั่นด้วย comma

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888,

In [ ]:
result = []
for num in range(1000, 3001):
  num_str = str(num)
  all_even = True
  for digit in num_str:
    if int(digit) % 2 != 0:
      all_even = False
      break
  if all_even:
    result.append(str(num))

print(",".join(result))

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

6.	ในคณิตศาสตร์ ตัวหารร่วมมาก หรือ ห.ร.ม. (greatest common divisor: gcd) ของจำนวนเต็มสองจำนวนซึ่งไม่เป็นศูนย์พร้อมกัน คือจำนวนเต็มที่มากที่สุดที่หารทั้งสองจำนวนลงตัว
จงหา ห.ร.ม. ของจำนวนเต็ม 2 จำนวนที่กำหนดให้
ข้อมูลนำเข้า
บรรทัดแรกเพียงบรรทัดเดียว ประกอบไปด้วยจำนวนเต็มบวกสองจำนวน a และ b มีค่าไม่เกิน 9999
ข้อมูลส่งออก
ในบรรทัดแรกของข้อมูลส่งออก ให้แสดงค่า ห.ร.ม. ของ a และ b
เช่น 	Input : 12 14		Output : 2
	Input : 7 3		Output : 1

678
345
=> 3

In [11]:
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))

while b != 0:
  a, b = b, a % b

print("GCD:", a)

Enter the first number: 678
Enter the second number: 345
GCD: 3

7.	จงเขียนโปรแกรมที่คำนวณค่าของ a+aa+aaa+aaaa เมื่อรับข้อมูลเป็นตัวเลข 1 หลัก

Input : 9

Output : 11106 (=9+99+999+9999)

In [ ]:
a = input("input: ")
if int(a) < 0 or int(a) > 9:
  print(" ")
else:
  a1 = int(a)
  a2 = int(a + a)
  a3 = int(a + a + a)
  a4 = int(a +  a + a + a)

  result = a1 + a2 + a3 + a4
  print(result)

input: 19

8.	แปลงเลขโรมัน เป็นเลขอารบิก เช่น MMMDCCXXIV = 3724 (ค้นหาวิธีทางทางอินเตอร์เน็ต)

In [15]:
roman_numeral = input("Enter a Roman numeral: ")
result = 0
i = 0
while i < len(roman_numeral):
  if roman_numeral[i] == 'M':
    result += 1000
  elif roman_numeral[i] == 'D':
    result += 500
  elif roman_numeral[i] == 'C':
    if i + 1 < len(roman_numeral) and roman_numeral[i + 1] in ('D', 'M'):
      result -= 100
      i += 1
    else:
      result += 100
  elif roman_numeral[i] == 'L':
    result += 50
  elif roman_numeral[i] == 'X':
    if i + 1 < len(roman_numeral) and roman_numeral[i + 1] in ('L', 'C'):
      result -= 10
      i += 1
    else:
      result += 10
  elif roman_numeral[i] == 'V':
    result += 5
  elif roman_numeral[i] == 'I':
    if i + 1 < len(roman_numeral) and roman_numeral[i + 1] in ('V', 'X'):
      result -= 1
      i += 1
    else:
      result += 1
  i += 1
print(result)

Enter a Roman numeral: MMMDCCXXIV
3719

9.	อนุกรม Fibonacci คือ อนุกรมที่ตัวที่ 3 เป็นต้นไปเกิดจาก 2 ตัวหน้าบวกกัน จงเขียนโปรแกรมแสดงอนุกรม
เช่น ตั้งแต่ 0-1000 คือ 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987

In [13]:
a = 0
b = 1
print(a, end=", ")
print(b, end=", ")
while True:
  c = a + b
  if c > 1000:
    break
  print(c, end=", ")
  a = b
  b = c

0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987,

10.	ให้สร้างโปรแกรม True Love โดยรับชื่อภาษาอังกฤษของ 2 คน จากนั้นค้นหาว่ามีตัวอักษรอยู่ในคำว่า True และ Love รวมกันกี่ตัว จากนั้นนำมาต่อกันเป็น % ตามรูป (ไม่ต้องแสดงเครื่องหมาย %)

In [12]:
name1 = input("Enter the first name: ").lower()
name2 = input("Enter the second name: ").lower()

count1 = 0
for char in name1:
  if char in "true love":
    count1 += 1

count2 = 0
for char in name2:
  if char in "true love":
    count2 += 1

print(str(count1) + str(count2))

Enter the first name: Tris
Enter the second name: vengerberg
26